<h1>Home#index</h1>
<p>Hello there, jb </p>

<%= form_tag(url_for(:action => 'results')) do -%>
	
	<%=label_tag 'price', 'Select Price' %>
	<%=select_tag "price", options_for_select([ 1000, 2000, 3000 ]) %>
  
  <div><%= submit_tag 'Submit' %></div>

<% end -%>

