=content_for :head do
	=javascript_include_tag "http://www.openlayers.org/api/OpenLayers.js" 

%body{:onload=>"initInputMap()"}
	
%h1 Property Site

%div{:class=>"row-fluid"}

	%div{:class=>"span6", :id=>"criteria_left_column"}
	
		%p Select Criteria
		
		%br/
		%br/
		
		= form_tag(url_for(:action => "results")) do 					
			=label_tag "min_price", "Select Min Price" 
			=select_tag "min_price", options_for_select([ 1000, 20000, 300000 ]) 
			%br/
			%br/
			=label_tag "max_price", "Select Max Price"
			=select_tag "max_price", options_for_select([ 20000, 30000, 400000 ]) 
			%br/
			%br/																				
			=hidden_field_tag "commute_destination", "", :id=>"commute_destination_val" 
			%br/
			%br/
			%div #{submit_tag "Submit"}
			
	%div{:class=>"span6", :id=>"criteria_right_column"}
	
		%p Select commute destination:
		%div{:id=>"map_canvas"}   