
	h1{
		font-size: 3em;		
		text-align: center;    	
		padding-bottom: 2%;
		} 
	
	body{
		padding-top: 30px;									 			
	}
	
	.span6 {
		padding: 0%;
		
		text-align: left; 		
	}
			  
			  /*I don't like the use of pixels here, but it works*/
			  /* 750 px good for wide screen, */
	#map_canvas {
				  width: 450px;
				  height: 450px;
				   border: 3px solid black;
			  }
		
	
	#criteria_left_column{
		padding-left: 20%;		
		text-align: left; 		
	}
	
	#criteria_right_column{
		padding: 0%;		
		text-align: left; 		
	}
	
	#results_left_column{
		padding-left: 2%;
		
		text-align: left; 		
	}
	
	#results_right_column{
		padding-left: 5%;
		
		text-align: left; 		
	}
	
	