!!! 5
%html
	%head
		%title Property Search
		=stylesheet_link_tag "application", :media => "all"		
		=yield(:head) 
		=javascript_include_tag "application"
		=csrf_meta_tags 
		%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}

	%body.background	
		#header
			#header_logo
				=link_to image_tag("logo5.png",:id=>"logo", :alt => "Property Search"), root_path			
	
		.breadcrumbWrapper
			%ul.breadcrumb
				%li
					=link_to "Home", root_path			
						
				-if action_name == "results"	
					%li
						%span.divider /						
						Results	
		
		=yield